[% USE Koha %]
[% TRY %]
    [% PROCESS "$PLUGIN_DIR/i18n/${LANG}.inc" %]
[% CATCH %]
    [% PROCESS "$PLUGIN_DIR/i18n/default.inc" %]
[% END %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% T.tool_title %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="plugins_oauthprovider_tool" class="plugins">
[% WRAPPER 'header.inc' %][% END %]
[% WRAPPER 'sidebar.inc' %][% END %]

<div class="main container-fluid">
  <div class="row">
    <div id="col-content" class="col-md-10 order-md-2">

      <h1>[% T.tool_heading %]</h1>

      <form method="post">
        <input type="hidden" name="cleanup" value="1">
        <p>[% T.tool_cleanup_intro %]</p>
        <input type="submit" class="btn btn-primary" value="[% T.tool_cleanup_button %]">
      </form>

      <h2>[% T.tool_active_heading %]</h2>
      [% IF active_tokens.size == 0 %]
        <p>[% T.tool_no_active %]</p>
      [% ELSE %]
        <table id="oauthprovider-tokens" class="table">
          <thead>
            <tr>
              <th>[% T.tool_th_app %]</th>
              <th>[% T.tool_th_type %]</th>
              <th>[% T.tool_th_borrowernumber %]</th>
              <th>[% T.tool_th_created %]</th>
              <th>[% T.tool_th_expires %]</th>
            </tr>
          </thead>
          <tbody>
            [% FOREACH t IN active_tokens %]
              <tr>
                <td>[% t.client_name | html %]</td>
                <td>[% t.token_type | html %]</td>
                <td>[% t.borrowernumber | html %]</td>
                <td>[% t.created_on | html %]</td>
                <td>[% t.expires_on | html %]</td>
              </tr>
            [% END %]
          </tbody>
        </table>
      [% END %]

    </div>
  </div>
</div>

[% INCLUDE 'intranet-bottom.inc' %]
